# Python
# Virtual Environments
.venv/
venv/
myenv/
env/

# Environment Variables & Secrets
.env
.env.*
!.env.example

# Databases & SQLite
*.db
*.sqlite3

# Logs & Debugging
logs/
*.log

# pip install -r requirements.txt
# python -m venv myenv
#  .\myenv\Scripts\activate
# python main.py
